.red{
    background-color: red;

    width: 13%;
    display: inline-block;
    height: 10px;

}
.black{
    background-color:black ;
    width: 10%;
    display: inline-block;
    height: 10px;
}
/* .row{
    width: 50%;

} */
.container{

    margin: 0 auto;
}